<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@dang Home</title>
    <%- include('../partials/cssNavBar.ejs') %>
</head>

<body>
    <%- include('../partials/navBar.ejs') %>
    <h1> DATA FOODS</h1>
    <a id="add" href="foods/add">add food </a>
    <br>
    <table border="2">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>origin</td>
            <td>prince</td>
            <td>rating</td>
            <td>option</td>

        </tr>
        <% data.forEach(e =>{ %>
        <tr>

        <tr>
            <td>
                <%= e.id%>
            </td>
            <td>
                <%= e.name%>
            </td>
            <td>
                <%= e.originMadeFrom%>
            </td>
            <td>
                <%= e.price %>
            </td>
            <td>
                <%= e.rating %>
            </td>


            <td>
                <a id="delete" href="foods/delete/<%= e.id%>">delete |</a>
                <a id="edit" href="foods/edit/<%= e.id%>">| edit</a>
            </td>
        </tr>
        <% })%>

    </table>


</body>