<head>



</head>

<body>
    <h1> DATA FOODS</h1>
    <a id="add" href="foods/add">add food </a>
    <br>
    <table border="2">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>origin</td>
            <td>prince</td>
            <td>uniqueness</td>
            <td>rating</td>
            <td>option</td>

        </tr>
        <% data.forEach(e =>{ %>
        <tr>

        <tr>
            <td>
                <%= e.id%>
            </td>
            <td>
                <%= e.name%>
            </td>
            <td>
                <%= e.originMadeFrom%>
            </td>
            <td>
                <%= e.price %>
            </td>
            <td>
                <%= e.uniqueness %>
            </td>
            <td>
                <%= e.rating %>
            </td>


            <td>
                <a id="delete" href="foods/delete/<%= e.id%>">delete |</a>
                <a id="edit" href="foods/edit/<%= e.id%>">| edit</a>
            </td>
        </tr>
        <% })%>

    </table>


</body>