<head>



</head>

<body>
    <h1> EDIT</h1>

    <h2>edit</h2>
    <% data.forEach(e =>{ %>
    <form action="/foods/edit/<%= e.id %>" method="POST">
        <br>
        name: <input type="text" name="name" value="<%= e.name %>">
        <br> originMadeFrom: <input type="text" name="originMadeFrom" value="<%= e.originMadeFrom %>"><br>
        price: <input type="text" name="price" value="<%= e.price %>">
        <br>
        uniqueness: <input type="text" name="uniqueness" value="<%= e.uniqueness %>">
        <br>

        <br>

        <button type="submit">Masukkan</button>
        <% })%>



    </form>

</body>